.navbar{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border-bottom: 1px solid #eaeaea;

}

.navbar .image{
    height: 75px;
}
.navbar .logo{
margin: 10px;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 10px;
}

.navbar a:hover{
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}